{% extends "misc/base.html" %}

{% block title %}Subcontractors{% endblock %}

{% block content %}
{% load static %}
<script src="{% static 'projectmanagement/deleteConfirm.js' %}" xmlns:v-on="http://www.w3.org/1999/xhtml"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="app">

<h1 class="section-header">Subcontractors</h1>

<div class="add-button" v-on:click="showDiv()" v-if="!isDivVisible">
    <button>+ New Sub</button>
</div>

<div class="add-button" v-on:click="showDiv()" v-if="isDivVisible">
    <button> Cancel</button>
</div>

{% if error_message %}
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            vm.showDiv();
        });
    </script>
{% endif %}


  <div v-if="isDivVisible">
      <form method="post" action="{% url 'projectmanagement:all_subs'%}" >
        <fieldset class="fieldset-table">
            <legend><h2>New Subcontractor</h2></legend>
            {% csrf_token %}

            {% if error_message %}
                <div style="display: block; margin-left: -75px; margin-top: -15px">
                    <p><strong class="error">{{ error_message }}</strong></p>
                </div>
            {% endif %}

            <div style="display: inline-block">
                <label for="name">Sub name:</label>
                <input type="text" name="name" id="name" class="input-field" {% if error_message %} value="{{name}}" {% endif %}>
            </div>

            <div style="display: inline-block">
                <label for="address">Address:</label>
                <input type="text" name="address" id="address" class="input-field"  {% if error_message %} value="{{name}}" {% endif %}>
            </div>

            <div style="display: inline-block">
                <label for="phone">Phone:</label>
                <input type="tel" name="phone" id="phone" class="input-field" {% if error_message %} value="{{phone}}" {% endif %}>
            </div>

            <div style="display: inline-block">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" class="input-field" {% if error_message %} value="{{email}}" {% endif %}>
            </div>

            <div style="display: inline-block">
                <label for="w9">W9:</label>
                <input type="number" name="w9" id="w9" step="1" class="input-field" {% if error_message %} value="{{w9}}" {% endif %}>
            </div>

            <div style="display: inline-block">
                <label for="csi">CSI Division:</label>
                <select name="csi" id="csi" class="input-field">
                    <option value="1">General Requirement</option>
                    <option value="2">Site Works</option>
                    <option value="3">Concrete</option>
                    <option value="4">Masonry</option>
                    <option value="5">Metals</option>
                    <option value="6">Wood and Plastics</option>
                    <option value="7">Thermal and Moisture Protection</option>
                    <option value="8">Doors and Windows</option>
                    <option value="9">Finishes</option>
                    <option value="10">Specialties</option>
                    <option value="11">Equipment</option>
                    <option value="12">Furnishings</option>
                    <option value="13">Special Construction</option>
                    <option value="14">Conveying Systems</option>
                    <option value="15">Mechanical/Plumbing</option>
                    <option value="16">Electrical</option>
                </select>
            </div>

            <div style="display: inline-block">
                <label for="category">Category:</label>
                <select name="category" id="category" class="input-field">
                    <option value="1">Civil Engineering</option>
                    <option value="2">Architecture</option>
                    <option value="3">Electrical Engineering</option>
                    <option value="4">Mechanical Engineering</option>
                    <option value="5">Plumbing</option>
                    <option value="6">Environmental</option>
                    <option value="7">Health Department</option>
                    <option value="8">Amenities</option>
                    <option value="9">Landscape</option>
                </select>
            </div>

            <input class="input-field-save" type="submit" name="submit" value="Save">

        </fieldset>
    </form>
  </div>

{% if subs %}
    <div class="reports-list-div">
        <table width="98%" height="98%" align="center" cellpadding="10" border="0">
            <tr class="report-item headers">
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th>W9</th>
                <th>CSI</th>
                <th>Category</th>
            </tr>
        {% for sub in subs %}
                <tr class="report-item zebra" >
                    <td>{{sub.name}}</td>
                    <td>{{ sub.address }}</td>
                    <td style="text-align: center">{{ sub.phone }}</td>
                    <td>{{ sub.email }}</td>
                    <td style="text-align: center" >{{ sub.w9 }}</td>
                    <td style="text-align: center">{{ sub.get_long_csi }}</td>
                    <td style="text-align: center">{{ sub.get_long_category }}</td>
                    <td class="inline-edit-button"><a href="{% url 'projectmanagement:edit_sub' sub.id %}"><img src="{% static 'projectmanagement/images/pencil.png' %}" height="20" width="20">Edit</a></td>
                    <td style="width: 6.5%; text-align: center">
                      <form id="delete-form" method="post" data-delete-url="{% url 'projectmanagement:delete_sub' sub.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="sub_id" value="{{ sub.id }}">
                        <input type="hidden" name="username" id="username">
                        <button class="inline-delete-button" type="button" onclick="deleteConfirmation(this)">
                          <img src="{% static 'projectmanagement/images/trash.png' %}" height="14" width="14"> Delete
                        </button>
                      </form>
                    </td>
                </tr>

        {% endfor %}
        </table>
    </div>
{% else %}
    <div class="reports-list-div">
        <table>
            <tr>
                <td>There are currently no Subcontractors.</td>
            </tr>
        </table>
    </div>

{% endif %}

</table>

</div>

<script>
    const app = Vue.createApp({
  data() {
    return {
      isDivVisible: false,
    };
  },

  methods: {
    showDiv() {
      this.isDivVisible = !this.isDivVisible;
    },
  },
});

const vm = app.mount("#app");
</script>

{% endblock %}
