<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Please Login</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'projectmanagement/style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'projectmanagement/images/favicon.ico' %}"/>

    </head>
    <body class="loginbg">
        <div class="bg">
            <div class="login">
                <div class="login-block">
                    <div id="logo">
                        <img src="{% static 'projectmanagement/images/logo.png' %}" alt="Moffat Logo" width="300px">
                    </div>
                    <hr style="margin-top: 10px;">
                    <form action="{% url 'projectmanagement:change_password' username %}" method="post" class="form-input">
                        {% csrf_token %}
                        <fieldset>
                            <div class="text-input">
                                <input name="username" id="username" required="Required" class="form-input" style="margin-top: 5px" autofocus="autofocus" data-val="true" data-val-required="*" name="Username" placeholder="{{username}}" type="text" readonly value="{{username}}">
                            </div>
                            <div class="text-input">
                                <input name="password" id="password" required="Required" class="form-input" data-val="true" data-val-required="*" name="Password" placeholder="New Password" type="password">
                            </div>
                            <div class="text-input">
                                <input name="confpassword" id="confpassword" required="Required" class="form-input" data-val="true" data-val-required="*" name="Password" placeholder="Confirm Password" type="password">
                            </div>
                            {% if error_message %}
                            <div class="errormessage">
                                <p style="padding: 5px; font-family: Libre Baskerville;">{{error_message}}</p>
                            </div>
                            {% endif %}
                            <input id="login-button" type="submit" name="Command" value="Log in" class="submit-button">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </body>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const passwordField = document.getElementById('password');
    const confirmField = document.getElementById('confpassword');

    confirmField.addEventListener('input', function () {
        if (confirmField.value !== passwordField.value) {
            confirmField.setCustomValidity('Passwords do not match');
        } else {
            confirmField.setCustomValidity('');
        }
    });
});
</script>

</html>