{% extends "misc/base.html" %}

{% block title %}Change Orders{% endblock %}


{% block content %}
{% load static %}
<script src="{% static 'projectmanagement/deleteConfirm.js' %}"></script>

<h1 class="section-header">Change Orders</h1>

<div class="add-new">
    <a href="{% url 'projectmanagement:new_change_order' project.id sub.id %}">+ New Change Order</a>
</div>

{% if cos %}
    <div class="reports-list-div">
        <table width="98%" height="98%" align="center" cellpadding="10" border="0">
            <tr class="headers">
                <th></th>
                <th>Order Number</th>
                <th>Date</th>
                <th>Subcontractor</th>
                <th>Change Total</th>
                <th width="7%"></th>
            </tr>
        {% for co in cos %}
                <tr class="report-item zebra">
                    <td width="3%"><a href="{% url 'projectmanagement:co_pdf_view' co.id %}"><img src="{% static 'projectmanagement/images/pdf_icon.png' %}" height="18px" width="auto" style="margin-bottom: -4px;margin-left:5px"></a></td>
                    <td style="text-align: center">{{co.order_number}}</a></td>
                    <td style="text-align: center">{{co.date}}</a></td>
                    <td style="text-align: center">{{sub.name}}</a></td>
                    <td style="text-align: center">${{co.total|floatformat:2}}</a></td>

                    <td>
                    <form id="delete-form" method="post" data-delete-url="{% url 'projectmanagement:delete_change_order' co.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="sub_id" value="{{ sub.id }}">
                        <input type="hidden" name="username" id="username">
                        <button class="inline-delete-button" type="button" onclick="deleteConfirmation(this)">
                          <img src="{% static 'projectmanagement/images/trash.png' %}" height="15px" width="auto"> Delete
                        </button>
                    </form>
                    </td>
                </tr>

        {% endfor %}
        </table>
    </div>
{% else %}
    <div class="reports-list-div">
        <table>
            <tr>
                <td>There are currently no Change Orders.</td>
            </tr>
        </table>
    </div>

{% endif %}

</table>

</div>

{% endblock %}
