{% extends "misc/base.html" %}
{% block title %}New Exhibit{% endblock %}
{% load static %}

{% block content %}

<script src="{% static 'projectmanagement/javascript/deleteConfirm.js' %}" xmlns:v-on="http://www.w3.org/1999/xhtml"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="app">
    <form action="{% url 'projectmanagement:new_exhibit' project.id sub.id %}" method="post">
        {% csrf_token %}
        <fieldset class="fieldset">
            <legend><h1>New Exhibit</h1></legend>
            <input hidden="hidden" name="form-type" id="form-type" value="exhibit">
            {% if error_message %}
                <p><strong class="error">{{ error_message }}</strong></p>
            {% endif %}


            <div class="reports-list-div">
                <div v-for="(group, groupIndex) in groups" :key="groupIndex" class="zebra">
                    <table width="98%" height="98%" align="center" cellpadding="10" border="0" style="margin-bottom:20px">
                        <tr class="group-title">
                            <div style="margin-left: 75px">
                                <div style="display: inline-block">
                                    <label :for="`groupSelect${groupIndex}`">Group:</label>
                                    <select required="required" class="input-field" :name="`group${groupIndex}`" :id="`groupSelect${groupIndex}`"
                                        v-model="group.selectedGroupIndex"
                                        :data-group-index="groupIndex">
                                        {% for group in groups %}
                                            <option value="{{group.id}}">{{group.name}}</option>
                                        {% endfor %}
                                        <option value="None">None</option>
                                    </select>
                                </div>

                                <div style="display: inline-block">
                                    <label :for="`subgroupSelect${groupIndex}`">Subgroup:</label>
                                    <select class="input-field" :name="`subgroup${groupIndex}`" :id="`subgroupSelect${groupIndex}`">
                                        <option value="None">None</option>
                                        <!-- Options will be dynamically added here using JavaScript -->
                                    </select>
                                </div>
                            </div>

                        </tr>
            {% verbatim %}
                        <tr class="report-item headers">
                            <th width="10%">Number</th>
                            <th>Scope of Work</th>
                            <th width="5%">Qty</th>
                            <th width="15%">Unit Price</th>
                            <th width="10%">Total</th>
                        </tr>
                        <tr v-for="(row, rowIndex) in group.rows" :key="rowIndex" class="report-item zebra" style="text-align: center">
                            <td>{{ rowIndex + 1 }}</td>
                            <td><div><input type="text" :name="`scope[${groupIndex}][${rowIndex}]`" class="input-field" style="margin: 0px; width: 90%"></div></td>
                            <td><input type="number" v-model="row.qty" :name="`qty[${groupIndex}][${rowIndex}]`" class="input-field" style="margin: 0px; width: 90%" step="1"></td>
                            <td>$<input type="number" v-model="row.unitPrice" :name="`unitprice[${groupIndex}][${rowIndex}]`" class="input-field" style="margin: 0px; width: 80%" step=".01"></td>
                            <td>${{ totalPrices[groupIndex][rowIndex] }}</td>
                            <input type="hidden" v-bind:value="totalPrices[groupIndex][rowIndex]" v-bind:name="`totalprice[${groupIndex}][${rowIndex}]`">
                        </tr>
                        <tr>
                            <td colspan="5">
                                <br>
                                <button v-on:click="addRow(groupIndex)" type="button" class="add-button">+ Add Row</button>
                                <button v-on:click="removeRow(groupIndex)" type="button" class="add-button">- Remove Row</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <hr color="#560200" width="100%" size="3">
                <div style="padding-top: 1em; padding-bottom: 1em">
                    <div>
                        <button v-on:click="removeGroup(groupIndex)" type="button" class="add-button">- Remove Grouping</button>
                    </div>
                    <div  v-if="groups.length < maxGroups">
                        <button v-on:click="addGroup()" type="button" class="add-button">+ Add Grouping</button>
                    </div>
                </div>
            </div>

            {% endverbatim %}

            <div>
                <input class="input-field-save" type="submit" name="submit" value="Save">
            </div>
        </fieldset>
    </form>
</div>

<script>
const app = Vue.createApp({
    data() {
        return {
            groups: [
                {
                    group_name: '',
                    selectedGroupIndex: null, // To track the selected group index
                    rows: [
                        {
                            scope: '',
                            qty: '',
                            unitPrice: '',
                        },
                    ],
                },
            ],
            maxGroups: {{total_groups}}, // Maximum number of groups allowed
        };
    },
    computed: {
        rowIndexes() {
            return this.groups.flatMap((group) => group.rows.map((_, index) => index));
        },
        totalPrices() {
            return this.groups.map((group) =>
                group.rows.map((row) => {
                    const qty = parseFloat(row.qty) || 0;
                    const unitPrice = parseFloat(row.unitPrice) || 0;
                    return (qty * unitPrice).toFixed(2);
                })
            );
        },
    },
    methods: {
        addRow(groupIndex) {
            this.groups[groupIndex].rows.push({
                scope: '',
                qty: '',
                unitPrice: '',
            });
        },
        removeRow(groupIndex) {
            const rows = this.groups[groupIndex].rows;
            if (rows.length > 1) {
                rows.pop();
            }
        },
        addGroup() {
            if (this.groups.length < this.maxGroups) {
                this.groups.push({
                    group_name: '',
                    selectedGroupIndex: null,
                    rows: [
                        {
                            scope: '',
                            qty: '',
                            unitPrice: '',
                        },
                    ],
                });
                this.$nextTick(() => {
                    const newGroupSelect = document.getElementById(`groupSelect${this.groups.length - 1}`);
                    if (newGroupSelect) {
                        newGroupSelect.addEventListener('change', handleGroupSelectChange);
                    }
                });
            }
        },
        removeGroup() {
            if (this.groups.length > 1) {
                this.groups.pop();
            }
        },
        handleFormKeyDown(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
            }
        },

    },
    mounted() {
    },
});

const vm = app.mount("#app");

const groups = JSON.parse('{{ groups_json | escapejs }}');

function populateSubgroups(selectedGroupIndex) {
    console.log(selectedGroupIndex)
    const groupSelect = document.getElementById(`groupSelect${selectedGroupIndex}`);
    const subgroupSelect = document.getElementById(`subgroupSelect${selectedGroupIndex}`);
    console.log(groupSelect); // Log the subgroupSelect element to see if it's null or not

    if (subgroupSelect) {
        console.log("subgroupSelect is not null"); // Log whether subgroupSelect is found
    } else {
        console.log("subgroupSelect is null"); // Log whether subgroupSelect is null
    }

    subgroupSelect.innerHTML = '';

    const selectedGroup = groups[selectedGroupIndex];

    selectedGroup.subgroups.forEach(subgroup => {
        const option = document.createElement('option');
        option.value = subgroup.id;
        option.textContent = subgroup.name;
        subgroupSelect.appendChild(option);
    });

    const noneOption = document.createElement('option');
    noneOption.value = 'None';
    noneOption.textContent = 'None';
    subgroupSelect.appendChild(noneOption);
}

function handleGroupSelectChange(event) {
    const groupIndex = parseInt(event.target.getAttribute('data-group-index'));
    console.log("Selected Group Index:", groupIndex);

    const selectedGroupIndex = vm.groups[groupIndex].selectedGroupIndex - 4;
    console.log("Selected Group Index in groups array:", selectedGroupIndex);

    const groupSelect = event.target;
    const selectedOptionIndex = groupSelect.selectedIndex;
    console.log("Selected Option Index:", selectedOptionIndex);

    const subgroupSelect = document.getElementById(`subgroupSelect${groupIndex}`);
    subgroupSelect.innerHTML = '';

    if (groups[selectedGroupIndex] && groups[selectedGroupIndex].subgroups) {
        const selectedGroup = groups[selectedGroupIndex];

        selectedGroup.subgroups.forEach((subgroup, index) => {
            const option = document.createElement('option');
            option.value = subgroup.id;
            option.textContent = subgroup.name;
            subgroupSelect.appendChild(option);

            if (index === selectedOptionIndex) {
                option.selected = true;
            }
        });
    } else {
        console.log("Selected group or its subgroups not found.");
    }

    const noneOption = document.createElement('option');
    noneOption.value = 'None';
    noneOption.textContent = 'None';
    subgroupSelect.appendChild(noneOption);
}



const groupSelects = document.querySelectorAll('[id^="groupSelect"]');
groupSelects.forEach(select => {
    select.addEventListener('change', handleGroupSelectChange);
});

</script>



{% endblock %}
