{% extends "misc/base.html" %}

{% block title %}Subcontractors{% endblock %}


{% block content %}
{% load static %}
<h3 style="align-self: flex-start"><a href="{% url 'projectmanagement:project_view' project.id %}" style="text-decoration: none; color: #000">< Back To Project</a></h3>


<h1 class="section-header">Subcontractors for {{project.name}}</h1>

{% if subs %}
    <div class="reports-list-div">
        <table width="98%" height="98%" align="center" cellpadding="10" border="0">
            <tr class="report-item headers">
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
        {% for sub in subs %}
                <tr class="report-item zebra">
                    <td><a href="{% url 'projectmanagement:contract_view' project.id sub.id %}">{{sub.name}}</a></td>
                    <td><a href="{% url 'projectmanagement:contract_view' project.id sub.id %}">{{ sub.address }}</a></td>
                    <td><a href="{% url 'projectmanagement:contract_view' project.id sub.id %}">{{ sub.phone }}</a></td>
                    <td><a href="{% url 'projectmanagement:contract_view' project.id sub.id %}">{{ sub.email }}</a></td>
                </tr>

        {% endfor %}
        </table>
    </div>
{% else %}
    <div class="reports-list-div">
        <table>
            <tr>
                <td>There are currently no Subcontractors. Go to 'Input Data' on the toolbar to create one.</td>
            </tr>
        </table>
    </div>

{% endif %}

</table>


{% endblock %}
