{% extends "misc/base.html" %}

{% block title %}{{project.name}}{% endblock %}
{% load static %}
{% load custom_filters %}
{% block content %}
<script src="{% static 'projectmanagement/javascript/deleteConfirm.js' %}"></script>

<h3 style="align-self: flex-start"><a href="{% url 'projectmanagement:project_view' project.id %}" style="text-decoration: none; color: #000">< Back To Project</a></h3>

<h1 class="section-header">Draws for {{project.name}}</h1>
<div class="add-new">
    <a href="{% url 'projectmanagement:new_draw' project.id%}">+ New Draw</a>
</div>

{% if draws %}
    <div class="reports-list-div">
        <table width="98%" height="98%" align="center" cellpadding="10" border="0">
            <tr class="headers">
                <th>Name</th>
                <th>Edited By</th>
                <th>Last Edited</th>
            </tr>
        {% for draw in draws %}
                <tr class="report-item zebra">
                    <td><a href="{% url 'projectmanagement:draw_view' draw.id %}">Draw {{ draw.num}}</a></td>
                    <td><a href="{% url 'projectmanagement:draw_view' draw.id %}">{{ draw.edited_by }}</a></td>
                    <td><a href="{% url 'projectmanagement:draw_view' draw.id %}">{{ draw.date }}</a></td>
                    <td class="inline-edit-button"><a href=""><img src="{% static 'projectmanagement/images/pencil.png' %}" height="18px" width="auto">Edit</a></td>
                    <td style="width: 6.5%; text-align: center">
                      <form id="delete-form" method="post" data-delete-url="{% url 'projectmanagement:delete_draw' project.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="draw_id" value="{{ draw.id }}">
                        <input type="hidden" name="username" id="username">
                        <button class="inline-delete-button" type="button" onclick="deleteConfirmation(this)">
                          <img src="{% static 'projectmanagement/images/trash.png' %}" height="15px" width="auto"> Delete
                        </button>
                      </form>
                    </td>
                </tr>

        {% endfor %}
        </table>
    </div>
{% else %}
    <div class="reports-list-div">
        <table>
            <tr class="report-item">
                <td>There are currently no draws available.</td>
            </tr>
        </table>
    </div>

{% endif %}

</table>


{% endblock %}

