{% extends "misc/base.html" %}

{% block title %}Check: {{ check.name }}{% endblock %}

{% block content %}
<h3 style="align-self: flex-start"><a href="{% url 'projectmanagement:draw_view' check.draw_item_id.draw_id.id %}" style="text-decoration: none; color: #000">< Back To Draw</a></h3>

    {% if check.pdf %}
    <h1>Check {{ check.check_num }}:</h1>
    {% elif check.lien_release_pdf %}
    <h1>Lien Release {{ check.check_num }}:</h1>
    {% endif %}
    <div class="reports-list-div">
        <embed src="data:application/pdf;base64,{{ pdf_data }}" width="100%" height="800px" type="application/pdf">
    </div>


{% endblock %}
