{% extends "misc/base.html" %}

{% block title %}Edit check{% endblock %}

{% block content %}
    <form action="{% url 'projectmanagement:edit_check' check.id%}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <fieldset class="fieldset" style="margin-left: 150px; margin-right: 150px">
            <legend><h1>Edit Check {{check.check_num}}</h1></legend>

            {% if error_message %}
            <div style="display: block">
                <p><strong class="error">{{ error_message }}</strong></p>
            </div>
            {% endif %}

            <div style="display: inline-block">
                <label for="check_date">Check Date:</label>
                <input type="date" name="check_date" id="check_date" class="input-field" value="{{ check.check_date|date:'Y-m-d'}}">
            </div>

            <div style="display: inline-block">
                <label for="check_num">Check Number:</label>
                <input type="text" name="check_num" id="check_num" class="input-field" value="{{check.check_num}}">
            </div>

            <div style="display: inline-block">
                <label for="sub">Subcontractor: </label>
                <select name="sub" id="sub" class="input-field">
                    {% for sub in subs %}
                        <option value="{{ sub.name }}" {% if sub.name == subselect.name %}selected{% endif %}>
                            {{ sub.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div style="display: inline-block">
                <label for="check_total">Check Total: $</label>
                <input type="number" min="0" step=".01" name="check_total" id="check_total" class="input-field" value="{{check.check_total}}">
            </div>

            <div style="display: inline-block">
                <label for="lien_release_type">Lien Release Type: </label>
                <select name="lien_release_type" id="lien_release_type" class="input-field">
                    {% for choice in lien_release_type_choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                    <option selected hidden="hidden" value="{{check.lien_release_type}}">{{check.get_LR_type_display_long}}
                </select>
            </div>

            <div style="display: inline-block">
                <label for="distributed">Check Distributed:</label>
                <input type="text" name="distributed" id="distributed" class="input-field" style="width: 800px" value="{{check.distributed}}">
            </div>

            <br><br>
            <div style="display: inline-block">
                <label style="position: relative">Check PDF: </label>
                <input type="file" name="pdf" id="pdf" class="input-field" value="{{check.pdf}}">
                {% if check.pdf %}
                    <span>Current file: {{check.pdf.name}}</span>
                {% endif %}
                <label style="position: relative">Lien Release PDF: </label>
                <input type="file" name="lien_release_pdf" id="lien_release_pdf" value="{{check.lien_release_pdf}}">
                {% if check.lien_release_pdf %}
                    <span>Current file: {{check.lien_release_pdf.name}}</span>
                {% endif %}

                <label for="signed" style="position: relative">Is Lien Release Signed? </label>
                <input type="checkbox" name="signed" id="signed" {% if check.signed %}checked{% endif %}>
            </div>

            <div style="display: inline-block; align-self: flex-end">
                <input class="input-field-save" type="submit" name="submit" value="Save">
            </div>

        </fieldset>
    </form>
{% endblock %}
