{% extends "misc/base.html" %}

{% block title %}New check{% endblock %}

{% block content %}
    <form action="{% url 'projectmanagement:new_check' draw_summary_item.id %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <fieldset class="fieldset" style="margin-left: 150px; margin-right: 150px">
            <legend><h1>New Check</h1></legend>

            {% if error_message %}
            <div style="display: block">
                <p><strong class="error">{{ error_message }}</strong></p>
            </div>
            {% endif %}

            <div style="display: inline-block">
                <label for="check_date">Check Date:</label>
                <input type="date" name="check_date" id="check_date" class="input-field" {% if error_message %} value="{{check_date}}" {% endif %}>
            </div>

            <div style="display: inline-block">
                <label for="check_num">Check Number:</label>
                <input type="text" name="check_num" id="check_num" class="input-field" {% if error_message %} value="{{check_num}}" {% endif %}>
            </div>

            <div style="display: inline-block">
                <label for="sub">Subcontractor: </label>
                <select name="sub" id="sub" class="input-field">
                    <option selected value="{{draw_summary_item.sub_id.id}}">{{draw_summary_item.sub_id.name}}</option>
                </select>
            </div>

            <div style="display: inline-block">
                <label for="check_total">Check Total: $</label>
                <input type="number" min="0" step=".01" name="check_total" id="check_total" class="input-field"  value="{{draw_summary_item.draw_amount|floatformat:2 }}">
            </div>

            <div style="display: inline-block">
                <label for="lien_release_type">Lien Release Type: </label>
                <select name="lien_release_type" id="lien_release_type" class="input-field">
                    <option selected value="{{lr.type}}">{{lr.get_LR_type_display_long}}</option>
                </select>
            </div>

            <div style="display: inline-block">
                <label style="position: relative">Check PDF: </label>
                <input type="file" name="pdf" id="pdf">
            </div>

            <input class="input-field-save" type="submit" name="submit" value="Save">

        </fieldset>
    </form>
{% endblock %}
