{% extends "misc/base.html" %}

{% block title %}Edit Estimate{% endblock %}

{% block content %}
    <script src="{% static 'projectmanagement/javascript/csi-division-codes.js' %}"></script>

    <form action="{% url 'projectmanagement:edit_estimate' estimate.id%}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <fieldset class="fieldset" style="margin-left: 150px; margin-right: 150px">
            <legend><h1>Edit Estimate</h1></legend>

            {% if error_message %}
            <div style="display: block">
                <p><strong class="error">{{ error_message }}</strong></p>
            </div>
            {% endif %}

            <div style="display: inline-block">
                <label for="date">Estimate Date:</label>
                <input type="date" name="date" id="date" class="input-field" value="{{ estimate.date|date:'Y-m-d'}}">
            </div>

            <div style="display: inline-block">
                <label for="sub">Subcontractor: </label>
                <select name="sub" id="sub" class="input-field">
                    {% for sub in subs %}
                        <option value="{{ sub.name }}">{{ sub.name }}</option>
                    {% endfor %}
                    <option selected hidden="hidden" value="{{estimate.sub.name}}">{{estimate.sub.name}}</option>
                </select>
            </div>

            <div style="display: inline-block">
                <div style="display: inline-block">
                {% include '../components/csi_division_code_input.html' %}
            </div>

            <div style="display: inline-block">
                <label for="total">Estimate Total: $</label>
                <input type="number" min="0" step=".01" name="total" id="total" class="input-field" value="{{estimate.total}}">
            </div>

            <br><br>
            <div style="display: inline-block">
                <label style="position: relative">Estimate PDF: </label>
                <input type="file" name="pdf" id="pdf" class="input-field" value="{{estimate.pdf}}">
                {% if estimate.pdf %}
                    <span>Current file: {{estimate.pdf.name}}</span>
                {% endif %}

            </div>

            <div style="display: inline-block; align-self: flex-end">
                <input class="input-field-save" type="submit" name="submit" value="Save">
            </div>

        </fieldset>
    </form>
{% endblock %}
